[submodule "_bin/submodules/bd"]
    path = _bin/submodules/bd
    url = https://github.com/vigneshwaranr/bd
    ignore= dirty
[submodule "_bin/submodules/icdiff"]
    path = _bin/submodules/icdiff
    url = https://github.com/jeffkaufman/icdiff
    ignore= dirty
[submodule "_bin/submodules/pathpicker"]
    path = _bin/submodules/pathpicker
    url = https://github.com/facebook/pathpicker/
    ignore= dirty
[submodule "_tmux/plugins/tpm"]
    path = _tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
    ignore= dirty
[submodule "_vim"]
    path = _vim
    url = https://github.com/edentsai/vimrc
[submodule "_tig/colorschemes/tig-theme-molokai-like"]
    path = _tig/colorschemes/tig-theme-molokai-like
    url = https://github.com/edentsai/tig-theme-molokai-like
